<div id="wrapper">
  <div class='login'>
    <h1 class='login-center'>HackNova</h1>

    <div class='error'></div>

    <div class='login-action'>
      <button id='login-btn' class='btn btn-success'>Login With MyMLH</button>
    </div>
  </div>
</div>
